.App {
  background-color: #282c34;      
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  align-items: center;
  
}

.logo {
  height: 15vmin;
}

.App-header {
  min-height: 10vh;
}

.App-link {
  color: #09d3ac;
}

.body {
  min-height: 84vh;
  width: 100vh
}

.card-list {
           justify-content: left; 
           text-align: left;
}

select {
       background-color: #282c34;
       color: white;
}

.card {
      font-size: calc(10px + 1vmin);
      padding : 1vh;
}

.selected {
      background-color: #C0C0C0;
      color: black;
}